<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
</head>
<body>
<div th:fragment="content">
	<div>
		<p>
			Use this page to manage states/provinces will can be chosen in the cutomer registrasion form.
			Click Load Country first
		</p>
	</div>
	<div>
		<input type="button" value="Load Country List" class="btn btn-primary m-2" id="buttonLoadCountriesForStates">
	</div>
	<div class="form-group row ml-2">
		<label class="col-auto col-form-label mt-2">Selected Country: </label>
		<div class="col-md">
		<select class="form-select m-2" id="dropDownCountriesForStates">
		
		</select>
		</div>
	</div>
	<div class="form-group row ml-2">
		<label class="col-auto col-form-label mt-2">All States/Provinces:</label>	
		<div class="col-md">
		<select class="form-control m-2" style="height: 300px" size="3" id="dropDownStates">
		
		</select>
		</div>
	 </div>
	 
	 <form id="formState">
	<div class="form-group row ml-2">
		<label class="col-auto col-form-label mt-2"id="labelStateName">State/Province Name:</label>	
		
		<div class="col-sm-6">
			<input type="text" class="form-control mt-2" id="fieldStateName"
			required minlength="3" maxlength="45"/>
		</div>
		
		<div class="col-lg-4 mt-2">
	 	<input type="button" id="buttonAddState" value="Add" class="btn btn-secondary mr-2">
	 	<input type="button" id="buttonUpdateState" value="Update" class="btn btn-secondary mr-2"disabled="disabled">
	 	<input type="button" id="buttonDeleteState" value="Delete" class="btn btn-secondary"disabled="disabled">	
	 </div>
	</div> 
	</form>
</div>
</body>
</html>